# /dev/s5p-smem
allow mediaserver secmem_device:chr_file { ioctl rw_file_perms };

# /efs
allow mediaserver efs_file:dir r_dir_perms;

# /efs/wv.keys
allow mediaserver efs_file:file r_file_perms;

# Unknown
allow mediaserver sysfs_wake_lock:file { open read write };
allow mediaserver system_data_file:file { open read };
allow mediaserver system_data_file:dir { add_name write };
allow mediaserver system_server:unix_stream_socket { read write setopt };
allow mediaserver system_prop:property_service set;
allow mediaserver sensorservice_service:service_manager { find };
allow mediaserver healthd_service:service_manager { find };